DB_URL=jdbc:postgresql://localhost:5432/aft
DB_USER=aft
DB_PASSWORD=aft_local_pw

RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_USER=aft
RABBIT_PASSWORD=aft_local_pw

STORAGE_ENDPOINT=http://localhost:9000
STORAGE_ACCESS_KEY=aft
STORAGE_SECRET_KEY=aft_local_pw

JWT_SECRET=e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
JWT_ACCESS_TTL_MINUTES=30
JWT_REFRESH_TTL_DAYS=30

SELENIUM_GRID_URL=http://localhost:4444

GOOGLE_CLIENT_ID=cceeb266-2bb4-4c8c-813d-10b0bb1417e1


